@model FoodOrder.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Cart";
}

<h2>Ваша корзина</h2>
<table width="50%" style="margin:0 auto">
  <thead>
    <tr>
      <th>Количество</th>
      <th>Еда</th>
      <th>Цена за единицу</th>
      <th>Общая цена</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var line in Model.Cart.Lines) {
      <tr>
        <td>@line.Quantity</td>
        <td>@line.Food.Name</td>
        <td>@line.Food.Price.ToString("c")</td>
        <td>@((line.Quantity * line.Food.Price).ToString("c"))</td>
		<td>
			@using (Html.BeginForm("RemoveFromCart", "Cart")) {
			  @Html.Hidden("FoodId", line.Food.FoodID)
			  @Html.HiddenFor(x => x.ReturnUrl)
			  <input class="actionButtons" type="submit" value="Убрать" />
			}
		</td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Итого:</td>
      <td >
        @Model.Cart.ComputeTotalValue().ToString("c")
      </td>
    </tr>
  </tfoot>
</table>
<p class="actionButtons">
  <a style="margin:0 auto" href="@Model.ReturnUrl">Вернуться на главную</a>
</p>
